<div class="container items">
  <h3>これはサブサブタイトルだよ</h3>
  <div class="row">
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div class="price">￥5,000</div>
            <div class="farmer">
              <div class="row">
                <div class="col-2">
                  <img src="/assets/sample.jpeg" alt="農家" class="rounded-circle" width="55" height="55">
                </div>
                <div class="col-9 offset-sm-1">
                  <p>
                    テストてすとテストてすとテストてすとテストてすとテストてすとテストてすとテストてすとテストてすとテストてすとテストてすとテストてすと
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="/assets/sample.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5>ここは商品名</h5>
            <p class="card-text">
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
              <span class="badge badge-secondary">New</span>
            </p>
            <div>￥5,000</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>